* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  font-family: serif;
  padding: 0 5px;
  margin: 0 auto;
}


header {
  height: 90px;
  width: 100%;
  background-color: #fffff8;
  position : fixed;
  z-index: 10;
  margin-top: 0px;
  padding-bottom: 90px;
}

.header-left {
  float: left;
}

.logo {
  height: 90px;
  width: 180px;
}



.header-right {

}

.header-right ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header-right ul li {
  float: left;
  height: 90px;
  width: 176px;
  background-color: #fffff8;
  text-align: center;
  line-height: 90px;
  font-size: 15px;
}

.header-right ul li a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: 700;
  transition: all 0.5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.header-right ul li a:hover{
  background-color: rgba(125, 225, 125, 0.8);
}

.header-right ul li ul li{
  display: none;
}

ul li:hover ul li {
 display: block;
}

.heading {
  padding-top: 180px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
  font-size: 30px;
}

.heading h1 {
  font-weight: normal;
}


.ut {
  background-size: cover;
  text-align: center;
  max-width: 100%;
  min-width: 10%;
  height: auto;
}

.ut img {
  width: 100%;
}

footer p {
  color: #000000;
  font-size: 20px;
}

.container p{
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer-list {
  float: right;
